HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.env.properties

### VS Code ###
/vscode/

### Secretes ###
k8s/jwt-secret.yaml
k8s/mariadb-secret.yaml
k8s/mongo-secret.yaml
k8s/docker-secret.yaml

### RESOURCES ###
src/main/resources/secret/** 